//
//  Secrets.xcconfig
//  CineVerse
//
//  Created by Pankaj Kumar Rana on 13/01/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project


TMDB_API_KEY = 10a7e1ac194b16c4c9091e2f2e9aeef8
